/* styles.css */

@font-face {
    font-family: 'sofia-pro';
    src: url('/static/fonts/sofiapro-light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'justus-pro';
    src: url('/static/fonts/JustusProRegular.TTF') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'sofia-pro', sans-serif;
    background-color: hsl(0, 0%, 96%);
    color: rgb(43, 138, 106);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'justus-pro', serif;
    font-weight: 500; 
    color: #157553;
}

.logo {
    max-height: 50px;
    max-width: 100%;
    margin-left: auto;
    margin-right: 15px;
    float: right;
   
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.question {
    margin-bottom: 20px;
}

.option-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
}

.option-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.option-container label {
    display: block;
    padding: 10px;
    border: 2px solid #157553;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.option-container.selected label {
    background-color: #af5f00;
    border-color: #af5f00;
    color: #ffffff;
}